.about-section {
  padding: 2rem 1rem;
  background-color: #f9f9f9;
  text-align: center;
  margin-bottom: 100px;
  border-radius: 30px;
}

.about-title {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  position: relative;
  display: inline-block;
}

.about-title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #00bcd4;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}

.about-text {
  font-size: 1rem;
  color: #34495e;
  max-width: 90%;
  margin: 0 auto;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 448px) {
  .about-title {
    font-size: 1.8rem;
  }

  .about-text {
    font-size: 0.9rem;
  }
}
